*{
    padding: 0;
    margin: 0;
    border: 0;
    background: #141415;
  }
  *,*:before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  nav,footer,header,aside{
    display: block;
  }
  
  html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,button,textarea{
    font-family: inherit;
  }
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner{padding: 0; border: 0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
  }
  @media (max-width:10000px){
    .up-to_text_parent{
        text-align: center;
        column-count: 3;
    }
    .up-to_text{
        color: var(--White, #FFF);
        font-family: Verdana;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 30px 0 0;
    }
    .second-text{
        color: var(--White, #FFF);
        font-family: Verdana;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .third-text{
        color: var(--White, #FFF);
        font-family: Helvetica Neue;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 0 0 0;
    }
    .rectangle_img{
        padding: 16px 0 0 0;
    }
  }

  @media (max-width:1496px){
    .up-to_text_parent{
        text-align: center;
        column-count: 3;
    }
    .up-to_text{
        color: var(--White, #FFF);
        font-family: Verdana;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
  }

  @media (max-width:630px)
  {
    .up-to_text_parent{
        text-align: center;
        column-count: 1;
    }
    .imac-img{
      max-width: 400px;
    }
    .up-to_text{
        color: var(--White, #FFF);
        font-family: Verdana;
        font-size: 0px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
  }
  @media (max-width:400px){
    .up-to_text_parent{
        text-align: center;
        column-count: 1;
    }
    .imac-img{
      max-width: 150px;
    }
    .up-to_text{
        color: var(--White, #FFF);
        font-family: Verdana;
        font-size: 2px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
  }

.grey_header{
    width: 100%;
    height: 72px;
    flex-shrink: 0;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple-logo_img{
    width: 24px;
    height: 24px;
    background: none;
}

.body-container{
    padding: 58px 0 0 0;
}

.title-text{
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buy-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 49px 0 0 0;
}

.buy-button_text{
    color: #51ACFF;
    text-align: right;
    font-family: Verdana;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0 0 0;
}

.buy-arrow_button{
    width: 12px;
    height: 12px;
}

.imac-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin: 51px 0 0 0;
    width: 100%;
    height: 218px;
    background: #313131;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.social-media_container{
    background: none;

}

.social-media_images{
    background: none;
    padding:48px 27.83px 32px 27.83px;
}

.footer-text_container{
    background: none;
}

.footer-text{
    color: var(--template-3-vertical-divider, #7D7D7D);
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    background: none;
}

.footer-button_text{
    color: var(--template-3-main-color, #51ACFF);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
}